= render partial: "landings/landing/intro"
= render partial: "landings/landing/about"
= render partial: "landings/landing/how"
= render partial: "landings/landing/tariffs"
= render partial: "landings/landing/steps"
= render partial: "landings/landing/form"
= render partial: "landings/landing/footer"