= render partial: "landings/landing/intro"
= render partial: "landings/landing/about"
= render partial: "landings/landing/moderation"
= render partial: "landings/landing/widget_icons"
= render partial: "landings/landing/tariffs"
= render partial: "landings/landing/form"
= render partial: "landings/landing/faq"
= render partial: "landings/landing/footer"