.section-form
  background: #3DB8DB

  .title
    color: #fff

    em
      color: #fff

.short-form
  width: 620px
  margin: 0px auto
  input
    margin-right: 20px

  .button
    width: 298px
    border-radius: 4px
    font-family: "OpenSans-Semibold"

.short-form-annotation
  margin-top: 15px
  font-family: "OpenSans-Regular"
  font-size: 16px
  line-height: 24px
  color: #fff
  text-align: center

input
  width: 300px
  height: 50px
  box-sizing: border-box

  padding: 0px 15px
  font-family: "OpenSans-Regular"
  font-size: 18px
  color: #5F6C90
  border: 1px solid #fff
  border-radius: 4px
  outline: none
  @include transition(all 0.3s ease-in-out)

  @include placeholder
    color: #7C8A95
    opacity: 1
    transition: opacity 0.3s ease

  &:hover
    border: 1px solid #8AD4E9

  &:focus
    border: 1px solid #3DB8DB

    @include placeholder
      opacity: 0
      transition: opacity 0.3s ease

  &.invalid
    border: 1px solid red


