.section-intro
  background: #3DB8DB
  padding-top: 75px
  padding-bottom: 0px

.intro
  @extend .clearfix
  height: 625px

  .left-side
    float: left
    width: 460px

    .logo
      width: 199px
      height: 54px

      img
        width: 199px
        height: 54px

    .descriptor
      margin-top: 70px
      margin-bottom: 50px
      width: 460px
      font-family: "OpenSans-Light"
      font-size: 32px
      line-height: 48px
      color: #fff

    .buttons-row
      width: 460px

      .button
        margin-right: 20px

        &.signin-button
          width: 140px

        &.signup-button
          width: 220px

        &:last-child
          margin-right: 0px


  .right-side
    float: right
    width: 470px

    img
      with: 470px
      height: 625px