.add-user-form
  margin-top: 30px
  .inline-form
    @extend .clearfix

    input.email
      float: left
      width: 260px
      margin-right: 20px

    select.role
      float: left
      width: 180px
      margin-right: 20px

    .button
      float: left
      width: 140px
