.code-widget
  width: 620px
  height: 72px
  min-height: 72px
  background: #fafafa
  margin-bottom: 25px
  border: 1px solid #ddd
  box-sizing: border-box
  padding: 15px
  font-family: "Arial"
  font-size: 14px
  line-height: 20px
  color: #aaa
  outline: none
  resize: none


.options-form
  .option-input-block
    padding: 25px 0
    border-bottom: 1px solid #ddd

    .hint
      margin-top: 15px
      font-family: "OpenSans-Regular"
      font-size: 15px
      line-height: 22px
      color: #8C8C95

    .value
      font-family: "OpenSans-Regular"
      font-size: 15px
      color: #53535B

      span.status
        padding-left: 20px
        font-family: "OpenSans-Italic"
        color: #9E9EA6

        &.red
          color: #FB666E

        &.green
          color: #5AC269

    .button
      margin-top: 20px

.colors
  margin-top: 30px
  @extend .clearfix

  .color
    float: left
    width: 40px
    height: 40px
    margin-right: 20px
    cursor: pointer
    font-family: "OKIcon"
    color: #fff
    font-size: 16px
    line-height: 39px
    text-align: center

    &.purple
      background: #7F64B5

    &.green
      background: #23BE58

    &.yellow
      background: #FCC04E

    &.red
      background: #F97A66

    &.blue
      background: #02B3D0

    &.dark-blue
      background: #5F6C90

    &:last-child
      margin-right: 0px

    &.active
      span
        display: inline

    span
      display: none
  