.code-widget
  width: 620px
  height: 265px
  background: #F6FBFC
  margin-bottom: 25px


.options-form
  .option-input-block
    padding: 25px 0
    border-bottom: 1px solid #ddd

    label
      display: block
      font-family: "OpenSans-Regular"
      font-size: 17px
      color: #53535B
      margin-bottom: 15px

      span.success
        font-family: "OKIcon"
        color: #5AC269

    input
      width: 320px
      height: 40px
      box-sizing: border-box
      padding: 0px 10px
      font-family: "OpenSans-Regular"
      font-size: 16px
      color: #53535B
      border: 1px solid #ddd
      border-radius: 4px
      outline: none

    .hint
      margin-top: 15px
      font-family: "OpenSans-Regular"
      font-size: 15px
      line-height: 22px
      color: #8C8C95