#sidebar-region
#main-region
#modal-region
#modal-overlay-region
#alert-region


javascript:
  $(function() {
    AccountApp.start({
      widget: {
        uid: gon.widget.uid,
        company_name: gon.widget.company_name,
        site_url: gon.widget.site_url,
        email: gon.widget.email,
        reviews_count: gon.widget.reviews_count,
        new_reviews_count: gon.widget.new_reviews_count,
        confirmed_reviews_count: gon.widget.confirmed_reviews_count,
        rejected_reviews_count: gon.widget.rejected_reviews_count
      },
      profile: {
        id: gon.profile.id,
        name: gon.profile.name,
        email: gon.profile.email,
        role: gon.profile.role,
        active: gon.profile.active,
        email_confirmed: gon.profile.email_confirmed
      },
      widget_code: gon.widget_code
    })
  });


