@import "reset"
@import "bourbon"
@import "common/fonts"
@import "landing/intro"
@import "landing/about"
@import "landing/moderation"
@import "landing/widget_icons"
@import "landing/tariffs"
@import "landing/form"
@import "landing/faq"
@import "landing/footer"

body
  background: #fff
  font-family: "OpenSans-Regular"
  color: #53535B

.wrapper
  width: 940px
  margin: 0px auto

section
  padding: 75px 0

  &.striped
    padding: 50px 0
    background: #F6FBFC

  .title
    font-family: "OpenSans-Light"
    font-size: 36px
    color: #5F6C90
    margin-bottom: 50px
    text-align: center

    em
      display: block
      padding-top: 15px
      font-family: "OpenSans-Regular"
      font-size: 18px
      line-height: 28px
      color: #5F6C90

.clearfix
  &:after
    clear: both
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden

p
  font-family: "OpenSans-Regular"
  font-size: 15px
  line-height: 22px
  color: #5F6C90
  margin-bottom: 20px

  &:last-child
    margin-bottom: 0px

.button
  display: inline-block
  padding: 0 15px
  height: 48px
  line-height: 46px
  text-align: center
  font-size: 18px
  cursor: pointer
  font-family: "OpenSans-Semibold"
  text-decoration: none
  transition: .2s all
  box-sizing: border-box
  @include transition(all 0.3s ease-in-out)

  &.blue
    border: 1px solid #3DB8DB
    background: #3DB8DB
    color: #fff

  &.red
    border: 1px solid #F97A66
    background: #F97A66
    color: #fff

  &.white
    border: 1px solid #fff


    &.ghost
      color: #fff
      font-family: "OpenSans-Regular"

      &:hover
        background: #fff
        color: #3DB8DB