@import reset
@import bourbon
@import common/fonts
@import common/buttons

body
  font-family: "OpenSans-Regular"
  background: #7F64B5
  color: #fff


.about
  position: fixed
  top: 50%
  left: 50%

  margin-top: -165px
  margin-left: -200px

  width: 320px
  height: 330px
  text-align: center

  .name
    font-size: 48px
    color: #fff
    padding-bottom: 20px
    border-bottom: 1px solid #fff

  .text
    padding: 50px 0
    font-size: 18px
    line-height: 28px
    color: #fff

  .button
    width: 180px
    border: 1px solid #fff
    color: #fff

    &:hover
      background: #fff
      color: #7F64B5