// Гуглить asset_host

@import fonts

.cmdt-overlay
  display: none
  z-index: 9998
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.7)

.cmdt-close-overlay-icon
  display: none
  z-index: 9998
  position: fixed
  top: 30px
  right: 30px
  width: 40px
  height: 40px
  background: asset_url("widget/close_overlay_icon.png") no-repeat
  background-size: 40px 40px
  cursor: pointer

.cmdt-widget-panel
  display: none
  z-index: 9999
  position: fixed
  top: 0px
  left: 0px
  width: 520px
  height: 100%
  background: #fff
  overflow-y: scroll



.cmdt-widget-button
  position: fixed
  top: 50%
  left: 0px
  width: 50px
  height: 200px
  margin-top: -100px
  background: #000
  color: #fff
  -webkit-writing-mode: vertical-rl
  writing-mode: vertical-lr
  line-height: 50px
  text-align: center
  cursor: pointer

.cmdt-clearfix
  &:after
    clear: both
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden

.cmdt-widget-top
  width: 100%
  background: #56C7D9
  padding: 30px 0

  .cmdt-button
    display: block
    margin: 0px auto

    width: 240px
    height: 55px

    font-family: "HelveticaNeue-Regular"
    font-size: 18px
    color: #fff
    text-decoration: none

    border: 2px solid #fff
    border-radius: 50px

    text-align: center
    line-height: 55px

    cursor: pointer

.cmdt-reviews-header
  @extend .cmdt-clearfix
  padding: 25px 20px
  font-family: "HelveticaNeue-Regular"
  font-size: 18px
  color: #999999

  .cmdt-reviews-total-count
    float: left


  .cmdt-reviews-total-rate
    float: right
    width: 150px
    height: 18px

    .cmdt-reviews-total-rate-stars
      float: left
      width: 102px
      height: 18px

      &.one-star
        background: asset_url("widget/stars/one_big_star.png") no-repeat
        background-size: 102px 18px

      &.two-stars
        background: asset_url("widget/stars/two_big_stars.png") no-repeat
        background-size: 102px 18px

      &.three-stars
        background: asset_url("widget/stars/three_big_stars.png") no-repeat
        background-size: 102px 18px

      &.four-stars
        background: asset_url("widget/stars/four_big_stars.png") no-repeat
        background-size: 102px 18px

      &.five-stars
        background: asset_url("widget/stars/five_big_stars.png") no-repeat
        background-size: 102px 18px


    .cmdt-reviews-total-rate-value
      float: right

.cmdt-reviews
  font-family: "HelveticaNeue-Light"
  color: #303646

.cmdt-review
  width: 100%
  border-top: 1px solid #eee
  border-radius: 4px
  box-sizing: border-box
  padding: 25px 20px

  .cmdt-review-header
    @extend .cmdt-clearfix


    .cmdt-review-author-avatar
      float: left
      width: 50px
      height: 50px
      background: #333
      border-radius: 50px
      background: #333

      img
        width: 50px
        height: 50px
        border-radius: 50px

    .cmdt-review-author-details
      float: left
      margin-left: 20px
      padding: 5px 0

      .cmdt-review-author-name
        font-size: 16px
        color: #111111
        font-family: "HelveticaNeue-Regular"

      .cmdt-review-author-url
        margin-top: 10px

        a
          font-family: "HelveticaNeue-Light"
          font-size: 14px
          color: #56C7D9
          text-decoration: none


    .cmdt-review-right
      float: right

      .cmdt-review-rate-stars
        @extend .cmdt-clearfix
        float: right
        width: 84px
        height: 14px

        &.one-star
          background: asset_url("widget/stars/one_small_star.png") no-repeat
          background-size: 84px 14px

        &.two-stars
          background: asset_url("widget/stars/two_small_stars.png") no-repeat
          background-size: 84px 14px

        &.three-stars
          background: asset_url("widget/stars/three_small_stars.png") no-repeat
          background-size: 84px 14px

        &.four-stars
          background: asset_url("widget/stars/four_small_stars.png") no-repeat
          background-size: 84px 14px

        &.five-stars
          background: asset_url("widget/stars/five_small_stars.png") no-repeat
          background-size: 84px 14px

      .cmdt-review-date
        margin-top: 30px
        font-family: "HelveticaNeue-Light"
        font-size: 14px
        color: #999999

  .cmdt-review-body
    margin-top: 20px
    font-family: "HelveticaNeue-Regular"
    font-size: 15px
    color: #555555
    line-height: 22px

